@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    height: 3800px;
    position: relative;
}

.floatbar-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: sticky;
    top: 20px;
}

.floatbar-nav {
    display: flex;
    justify-content: space-around;
    gap: 60px;
    background-color: #272d2d9a;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #00000032;
}

.icon-bar {
    transition: all 0.3s ease;
}

.icon-bar:hover {
    transform: scale(1.10);
}
